<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FRESHMusicPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FRESHMusicPlayer.Properties.Settings>
            <setting name="Appearance_DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Appearance_BackImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Appearance_ImageDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_Volume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MiniPlayer_UnfocusedOpacity" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="General_DiscordIntegration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Appearance_AccentColorRed" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Appearance_AccentColorGreen" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="Appearance_AccentColorBlue" serializeAs="String">
                <value>219</value>
            </setting>
            <setting name="General_PreRelease" serializeAs="String">
                <value>False</value>
            </setting>
        </FRESHMusicPlayer.Properties.Settings>
    </userSettings>
</configuration>